@font-face {
  font-family: Sans;
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: BIGJOHN;
  src: url(../fonts/BIG-JOHN.otf); }
@font-face {
  font-family: SansLight;
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: SlimJoe;
  src: url(../fonts/SlimJoe.otf); }
h1 {
  font-family: SansLight;
  color: #7d8186;
  padding-bottom: 25px; }

p {
  font-family: Sans;
  color: #81868e;
  padding-bottom: 25px; }

.my-navbar {
  font-family: Sans;
  background-image: url(../img/sl-img1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-bottom: 90px;
  padding-top: 75px; }
  .my-navbar span {
    font-family: BIGJOHN;
    color: white; }
  .my-navbar h1 {
    font-family: SansLight;
    margin-top: 230px;
    margin-bottom: 25px;
    color: white; }
  .my-navbar p {
    margin-bottom: 200px;
    color: white; }

.navbar-bg {
  background-color: transparent !important;
  padding-top: 25px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transition: 2s ease-out 0.5s;
  padding-left: 10%;
  padding-right: 10%; }

.navbar-bg-scroll {
  background-color: rgba(0, 0, 0, 0.8) !important;
  z-index: 10000; }

.nav-link-border {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white !important; }

.nav-item-border {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid transparent;
  border-radius: 50px; }

.nav-item-border:hover {
  border: 1px solid white;
  border-radius: 50px; }

.about {
  padding-top: 100px;
  padding-bottom: 70px; }
  .about__bg {
    background-image: url(../img/ab-mob.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 370px; }
  .about__button, .gallery__button, .portfolio__button, .question__button, .news__button {
    border: 1px solid #333b46;
    border-radius: 50px;
    color: #333b46;
    text-decoration: none;
    padding: 5px 25px 8px 25px; }
  .about__button:hover, .gallery__button:hover, .portfolio__button:hover, .question__button:hover, .news__button:hover {
    color: #333b46;
    text-decoration: none; }

.details {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f3f3f3; }
  .details p {
    padding-bottom: 60px; }
  .details h3 {
    font-family: Sans;
    color: #464646;
    padding-bottom: 15px;
    font-size: 24px; }
  .details__text-left {
    padding-right: 50px;
    padding-left: 45px; }
  .details__text-left p {
    font-size: 18px; }
  .details__text-right {
    padding-left: 45px;
    padding-top: 50px; }
  .details__textcolor {
    color: #19bd9a;
    font-weight: bold; }
  .details__text-bold, .portfolio__text-bold {
    font-weight: bold;
    color: #636971; }

.caption-text {
  text-align: center;
  margin-bottom: 90px; }

.gallery {
  padding-top: 80px; }
  .gallery__img {
    margin: 0;
    padding: 0; }
  .gallery__text, .team__text, .contact__text {
    text-align: center; }
  .gallery__img-wrap {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; }
  .gallery__img-bg, .impressed {
    margin: 0;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    background-image: url(../img/bg-layer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 10px; }
  .gallery__img-bg_text-wrap {
    margin: 0; }
  .gallery__img-bg_text, .portfolio__create, .question {
    color: white;
    font-size: 20px;
    text-align: center; }
  .gallery__button, .portfolio__button, .question__button, .news__button {
    color: white;
    border: 1px solid white;
    margin: 25px; }

.services, .portfolio {
  background-color: #f3f3f3;
  padding-top: 50px;
  padding-bottom: 30px; }
  .services__text {
    text-align: center; }
  .services__icon {
    width: 100%;
    margin: 5px;
    padding: 5px; }
  @media (max-width: 990px) {
    .services__icon {
      width: 50px; } }
  .services h3, .portfolio h3 {
    font-family: Sans;
    color: #464646;
    padding-bottom: 15px;
    font-size: 24px; }
  .services .circle-wrap, .portfolio .circle-wrap {
    text-align: center; }

.impressed {
  background-image: url(../img/lap-bg.jpg);
  padding-top: 100px;
  margin-top: 10px;
  background-position: center;
  margin: 0; }
  .impressed h3 {
    font-size: 24px;
    font-family: SansLight;
    color: #b2b3b3;
    padding-bottom: 10px; }
  .impressed_name {
    padding: 0;
    margin: 5px;
    color: #b2b3b3;
    font-weight: bold; }
  .impressed__img {
    padding: 0;
    position: relative;
    bottom: 145px; }

@media (max-width: 1146px) {
  .impressed__img {
    display: none; } }
.portfolio__text {
  text-align: center; }

.tabs-wrap {
  text-align: center;
  padding-bottom: 50px; }

.tabs {
  border: 0px;
  background-color: inherit;
  cursor: pointer; }
  .tabs p {
    padding: 0;
    margin-bottom: 0;
    color: #464646;
    font-size: 18px; }

.tabs:focus {
  outline-style: none; }

.tabs0 {
  border-bottom: solid 2px #19bd9a; }

.tabs-content-wrap {
  text-align: center; }

.all {
  padding: 5px;
  position: relative; }

.img-overlay {
  background: rgba(44, 44, 45, 0.8);
  z-index: 100;
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px; }
  .img-overlay h3 {
    color: #19bd9a;
    padding-top: 45px;
    font-size: 18px;
    text-align: left;
    padding-left: 30px; }
  .img-overlay p {
    padding-top: 15px;
    font-size: 12px;
    text-align: left;
    padding-left: 30px;
    font-weight: bold; }

.border-hover {
  width: 30px;
  height: 4px;
  border-top: solid 1px  #19bd9a;
  margin-left: 30px; }

.all:hover .img-overlay {
  display: block; }

.portfolio__create {
  background-image: url(../img/port-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  margin-top: 30px;
  margin-bottom: 30px; }
.portfolio__create_text, .question__create_text {
  color: white;
  padding-top: 40px; }
.portfolio__text-bold {
  color: white; }

.team {
  padding-top: 40px; }
  .team__text, .contact__text {
    margin-bottom: 30px; }
  .team__info {
    text-align: right; }
    .team__info h3 {
      font-size: 24px;
      font-family: SansLight;
      color: #b2b3b3;
      padding-bottom: 10px;
      font-style: italic;
      padding-right: 20px; }
    .team__info h1 {
      padding-bottom: 0;
      color: #464646;
      padding-right: 20px; }
    .team__info p {
      padding-right: 20px;
      padding-top: 15px; }
  .team__border {
    border-right: solid 4px  #19bd9a; }
  .team__card {
    margin-bottom: 20px; }
  .team__card2 {
    display: none; }
  .team__card3 {
    display: none; }
  .team__diagram {
    margin-bottom: 20px; }
    .team__diagram h1 {
      font-size: 18px; }
  .team__diagram_left {
    border-bottom: solid 4px  #19bd9a; }
    .team__diagram_left h1 {
      text-align: left; }
  .team__diagram_right {
    border-bottom: solid 4px  #b2b3b3; }
    .team__diagram_right h1 {
      text-align: right;
      padding-right: 0; }
  .team__slider {
    text-align: center;
    padding-top: 50px; }
  .team__slider_dot, .testimonials__slider_dot, .news__slider_dot {
    width: 20px;
    height: 20px;
    border: solid 1px  #19bd9a;
    border-radius: 10px;
    background-color: inherit;
    cursor: pointer; }
  .team__slider_dot:focus, .testimonials__slider_dot:focus, .news__slider_dot:focus {
    outline-style: none; }
  .team__slider_dot1 {
    background-color: #19bd9a; }

.question {
  background-image: url(../img/cta-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 60px;
  margin-top: 60px; }

.testimonials, .price, .contact {
  background-color: #f3f3f3;
  padding-top: 50px;
  padding-bottom: 80px; }
  .testimonials__card {
    background-color: white; }
  .testimonials__img {
    padding-top: 35px;
    padding-left: 35px; }
  .testimonials__info {
    padding-top: 15px; }
    .testimonials__info h1 {
      color: #19bd9a;
      font-size: 18px;
      padding-bottom: 0px; }
    .testimonials__info h3 {
      font-size: 18px; }
  .testimonials__slider {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 100; }
  .testimonials__slider_dot1 {
    background-color: #19bd9a; }
  .testimonials__card2 {
    display: none; }
  .testimonials__card3 {
    display: none; }

.news {
  background-image: url(../img/blog-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  .news__text {
    padding-top: 80px; }
  .news__slider-wrap {
    position: relative; }
  .news__slider {
    position: absolute;
    padding-left: 95%;
    padding-top: 10%; }
  .news__slider_dot {
    border: solid 1px  white; }
  .news__slider_dot1 {
    background-color: white; }
  .news__slider_dot:focus {
    outline-style: none; }
  .news__slider_dot1 {
    background-color: whire; }
  .news__info {
    padding-top: 50px;
    padding-left: 80px; }
    .news__info_text {
      padding-bottom: 0;
      margin-bottom: 5px;
      font-size: 26px;
      color: #b2b3b3; }
    .news__info h1 {
      font-size: 18px;
      font-style: italic;
      padding-bottom: 10px; }
    .news__info h3 {
      font-size: 14px; }
    .news__info p {
      margin-top: 40px;
      margin-bottom: 20px; }
  .news__button-wrap {
    padding-bottom: 60px; }
  .news__button {
    color: #b2b3b3;
    border: none;
    padding-left: 40px;
    font-size: 20px;
    cursor: pointer; }
  .news__card2 {
    display: none; }
  .news__card3 {
    display: none; }

.price .card-tariff {
  position: relative; }
.price .tariff-card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #fff;
  display: flex;
  flex-direction: column; }
.price .tariff-price-wrap {
  margin: auto; }
.price .tariff-title {
  background-color: #19bd9a;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold; }
.price .tariff-price {
  color: #19bd9a;
  font-weight: bold;
  font-size: 30px; }
.price .tariff-price-title {
  color: #7d8186; }
.price .card-tariff {
  padding: 0; }
.price .tariff-price {
  text-align: center; }
.price .tariff-price-title {
  text-align: center;
  font-size: 20px;
  font-weight: normal; }
.price .card-tariff:hover .tariff-card-front {
  display: none; }
.price .tariff-service-item {
  padding-bottom: 0;
  text-align: center; }
.price .tariff-start-button {
  color: #fff;
  text-transform: none;
  font-weight: normal; }
.price .tariff-start-button:hover {
  text-decoration: none; }
.price .tariff-services {
  padding: 20px 10px; }

.subscribe {
  background-image: url(../img/sub-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-bottom: 70px; }
  .subscribe__btn-color {
    background-color: #19bd9a;
    border: solid 1px #19bd9a;
    cursor: pointer;
    border-radius: 0;
    font-family: SansLight;
    width: 100%; }
  .subscribe__btn-color:hover {
    background-color: #19bd9a;
    border: solid 1px #19bd9a;
    border-radius: 0; }
  .subscribe__bg-color {
    background-color: inherit;
    border: solid 1px #b2b3b3;
    border-radius: 0;
    font-family: SansLight; }
  .subscribe .form-control1 {
    background: none;
    color: white; }

.contact__text-wrap {
  text-align: center; }
.contact__text_title {
  font-size: 20px;
  font-weight: bold; }
.contact__text_content {
  font-size: 18px;
  padding-bottom: 0; }

.contact-form {
  padding-top: 60px;
  padding-bottom: 60px; }
  .contact-form__text {
    padding-top: 30px;
    padding-bottom: 30px; }
  .contact-form textarea {
    overflow: hidden; }
  .contact-form__btn {
    background-color: #19bd9a;
    border-radius: 0;
    cursor: pointer;
    color: white; }

.map {
  background-color: #f3f3f3;
  position: relative; }
  .map__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex; }
  .map__text {
    margin: auto; }
  .map__title {
    color: #fff;
    font-size: 24px; }

.copyright {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f3f3f3; }
  .copyright h1 {
    font-family: BIGJOHN;
    color: #323a45; }

@media (max-width: 992px) {
  .testimonials__img {
    text-align: center; }

  .subscribe .form-control1 {
    margin-bottom: 15px; } }
@media (max-width: 768px) {
  .about__bg {
    margin-top: 40px; }

  .about__button, .gallery__button, .portfolio__button, .question__button, .news__button {
    margin-left: 35%; }

  .details p {
    padding-bottom: 0px; }

  .gallery__button, .portfolio__button, .question__button, .news__button {
    margin-left: 40%; }

  .gallery__img-bg, .impressed {
    padding-bottom: 40px; }

  .portfolio__button, .question__button, .news__button {
    margin-left: 0; }

  .team__img {
    text-align: center;
    margin-bottom: 20px; }

  .testimonials__img {
    text-align: center; }

  .news__slider {
    padding-top: 50%; } }
@media (max-width: 578px) {
  .news__slider {
    padding-left: 85%;
    padding-top: 50%; } }
.slide-progress-bar {
  width: 100%;
  height: 5px;
  position: relative; }

.progress-bar-title {
  text-align: left;
  color: #464646;
  padding-right: 20px;
  font-size: 18px;
  font-family: SansLight; }

/*# sourceMappingURL=style.css.map */
