@font-face {
font-family:Sans;
src:url(../fonts/OpenSans-Regular.ttf)
}
@font-face {
font-family:BIGJOHN;
src:url(../fonts/BIG-JOHN.otf)
}
@font-face {
font-family:SansLight;
src:url(../fonts/OpenSans-Light.ttf)
}
@font-face {
font-family:SlimJoe;
src:url(../fonts/SlimJoe.otf)
}
h1{
  font-family: SansLight;
  color: #7d8186;
  padding-bottom: 25px;
}
p{
  font-family: Sans;
  color: #81868e;
  padding-bottom: 25px;
}
.my-navbar{
  font-family: Sans;
  background-image: url(../img/sl-img1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-bottom: 90px;
  padding-top: 75px;
  span{
  font-family: BIGJOHN;
  color:white;
  }
  h1{
  font-family: SansLight;
  margin-top: 230px;
  margin-bottom: 25px;
  color:white;
  }
 p{
  margin-bottom: 200px;
  color:white;
  }
}
.navbar-bg{
  background-color: transparent!important;
  padding-top: 25px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transition: 2s ease-out 0.5s;
  padding-left: 10%;
  padding-right: 10%;
}
.navbar-bg-scroll{
  background-color: rgba(0, 0, 0, 0.8)!important;
  z-index: 10000;


}
.nav-link-border{
  padding-top: 5px;
  padding-bottom: 5px;
  color: white!important;
}
.nav-item-border{
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid transparent;
  border-radius: 50px;
}
.nav-item-border:hover{
  border: 1px solid white;
  border-radius: 50px;
}
.about{
  padding-top: 100px;
  padding-bottom: 70px;
  &__bg{
    background-image: url(../img/ab-mob.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 370px;
  }
  &__button{
    border: 1px solid #333b46;
    border-radius: 50px;
    color: #333b46;
    text-decoration: none;
    padding: 5px 25px 8px 25px;
  }
  &__button:hover{
    color: #333b46;
    text-decoration: none;
  }
}

.details{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f3f3f3;
  p{
      padding-bottom: 60px;
  }
  h3{
    font-family: Sans;
    color: #464646;
    padding-bottom: 15px;
    font-size: 24px;
  }
  &__text-left{
  padding-right: 50px;
    padding-left: 45px;
  }
  &__text-left p{
  font-size: 18px;
  }
  &__text-right{
    padding-left: 45px;
    padding-top: 50px;
  }
  &__textcolor{
    color:  #19bd9a;
    font-weight: bold;
  }
  &__text-bold{
    font-weight: bold;
    color: #636971;
  }
}
.caption-text{
  text-align: center;
  margin-bottom: 90px;
}
.gallery{
  padding-top: 80px;
  &__img{
    margin: 0;
    padding: 0;

  }
  &__text{
  text-align: center;
  }
  &__img-wrap{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

  }
  &__img-bg{
    margin: 0;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    background-image: url(../img/bg-layer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 10px;
  }
  &__img-bg_text-wrap{
    margin: 0;
  }
  &__img-bg_text{
    color: white;
    font-size: 20px;
    text-align: center;
  }
  &__button{
    @extend .about__button;
    color: white;
    border: 1px solid white;
    margin: 25px;
  }
}
.services{
  background-color: #f3f3f3;
  padding-top: 50px;
  padding-bottom: 30px;
  &__text{
    text-align: center;
  }
  &__icon{
    width: 100%;
    margin: 5px;
    padding: 5px;
  }
  @media(max-width: 990px){
    &__icon{
      width: 50px;
    }
  }
  h3{
    font-family: Sans;
    color: #464646;
    padding-bottom: 15px;
    font-size: 24px;
  }
  .circle-wrap{
    text-align: center;
  }
  .circle-title{

  }
}
.impressed{
    @extend .gallery__img-bg;
    background-image: url(../img/lap-bg.jpg);
    padding-top: 100px;
    margin-top: 10px;
    background-position: center;
    margin: 0;
    h3{
      font-size: 24px;
      font-family: SansLight;
      color: #b2b3b3;
      padding-bottom: 10px;
    }
    &_name{
      padding: 0;
      margin: 5px;
      color:#b2b3b3;
      font-weight: bold;
      }
    &__img{
      padding: 0;
      position: relative;
      bottom: 145px;
    }
}
@media (max-width: 1146px) {
  .impressed__img{
    display: none;
  }
}

.portfolio{
  @extend .services;
  &__text{
    text-align: center;
  }
}
.tabs-wrap{
  text-align: center;
  padding-bottom: 50px;
}
.tabs{
  border: 0px;
  background-color: inherit;
  cursor: pointer;
  p{
    padding: 0;
    margin-bottom: 0;
    color: #464646;
    font-size: 18px;
  }
}
.tabs:focus{
  outline-style: none;
}

.tabs0{
  border-bottom: solid 2px #19bd9a;
}
.tabs-content-wrap{
  text-align: center;
}
.all{
  padding:5px;
  position: relative;

}
.img-overlay{
  background: rgba(44, 44, 45, 0.8);
  z-index: 100;
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  h3{
    color: #19bd9a;
    padding-top: 45px;
    font-size: 18px;
    text-align: left;
    padding-left: 30px;
  }
  p{
    padding-top: 15px;
    font-size: 12px;
    text-align: left;
    padding-left: 30px;
    font-weight: bold;
  }
}
.border-hover{
  width: 30px;
  height: 4px;
  border-top: solid 1px  #19bd9a;
  margin-left: 30px;
}
.all:hover .img-overlay{
  display: block;
}
.portfolio{
  &__create{
    @extend .gallery__img-bg_text;
    background-image: url(../img/port-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 30px;

  }
  &__button{
    @extend .gallery__button;
  }
  &__create_text{
    color: white;
    padding-top: 40px;
  }
  &__text-bold{
    @extend .details__text-bold;
    color: white;
  }
}
.team{
  padding-top: 40px;
  &__text{
    @extend .gallery__text;
    margin-bottom: 30px;
  }
  &__info{
    text-align: right;
    h3{
      font-size: 24px;
      font-family: SansLight;
      color: #b2b3b3;
      padding-bottom: 10px;
      font-style: italic;
      padding-right: 20px;
    }
    h1{
      padding-bottom: 0;
      color: #464646;
      padding-right: 20px;
    }
    p{
      padding-right: 20px;
      padding-top: 15px;
    }
  }
  &__border{
    border-right: solid 4px  #19bd9a;
  }
  &__card{
    margin-bottom: 20px;
  }
  &__card2{
    display: none;
  }
  &__card3{
    display: none;
  }
  &__diagram{
    margin-bottom: 20px;
    h1{
      font-size: 18px;
    }
  }
  &__diagram_left{
      border-bottom: solid 4px  #19bd9a;
    h1{
      text-align: left;
    }
  }
  &__diagram_right{
    border-bottom: solid 4px  #b2b3b3;
    h1{
      text-align: right;
      padding-right: 0;
    }
  }
  &__slider{
    text-align: center;
    padding-top: 50px;
  }
  &__slider_dot{
    width: 20px;
    height: 20px;
    border: solid 1px  #19bd9a;
    border-radius: 10px;
    background-color: inherit;
    cursor: pointer;
  }
    &__slider_dot:focus{
      outline-style: none;
    }
  &__slider_dot1{
    background-color: #19bd9a;
  }
}
.question{
  @extend .gallery__img-bg_text;
  background-image: url(../img/cta-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 60px;
  margin-top: 60px;

  &__create_text{
    @extend .portfolio__create_text;
  }
  &__button{
    @extend .portfolio__button;
  }
}
.testimonials{
  background-color: #f3f3f3;
  padding-top: 50px;
  padding-bottom: 80px;
  &__card{
    background-color: white;
  }
  &__img{
    padding-top: 35px;
    padding-left: 35px;
  }
  &__info{
    padding-top: 15px;
    h1{
      color: #19bd9a;
      font-size: 18px;
      padding-bottom: 0px;
    }
    h3{
      font-size: 18px;
    }
  }
  &__slider{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 100;
  }
  &__slider_dot{
    @extend .team__slider_dot;
  }
  &__slider_dot1{
    background-color:#19bd9a ;
  }
  &__card2{
    display: none;
  }
  &__card3{
    display: none;
  }
}
.news{
  background-image: url(../img/blog-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &__text{
    padding-top: 80px;
  }
  &__slider-wrap{
    position: relative;
  }
  &__slider{
    position: absolute;
    padding-left: 95%;
    padding-top: 10%;
  }
  &__slider_dot{
    @extend .team__slider_dot;
    border: solid 1px  white;
  }
  &__slider_dot1{
  background-color: white;
  }
  &__slider_dot:focus{
    outline-style: none;
  }
  &__slider_dot1{
    background-color: whire;
  }
  &__info{
    padding-top: 50px;
    padding-left: 80px;
    &_text{
      padding-bottom: 0;
      margin-bottom: 5px;
      font-size: 26px;
      color: #b2b3b3;
    }
    h1{
      font-size: 18px;
      font-style: italic;
      padding-bottom: 10px;
    }
    h3{
      font-size: 14px;
    }
    p{
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
  &__button-wrap{
    padding-bottom: 60px;
  }
  &__button{
    @extend .question__button;
    color: #b2b3b3;
    border: none;
    padding-left: 40px;
    font-size: 20px;
    cursor: pointer;
  }

  &__card2{
    display: none;
  }
  &__card3{
    display: none;
  }
}
.price{
  @extend .testimonials;
  .card-tariff{
    position: relative;
  }
  .tariff-card-front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #fff;
    display: flex;
    flex-direction: column;
  }
  .tariff-price-wrap{
    margin: auto;
  }
  .tariff-title{
    background-color: #19bd9a;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }
  .tariff-price{
    color: #19bd9a;
    font-weight: bold;
    font-size: 30px;
  }
  .tariff-price-title{
    color: #7d8186;
  }
  .card-tariff{
    padding: 0;
  }

  .tariff-price{
    text-align: center;
  }
  .tariff-price-title{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
  }
  .card-tariff:hover .tariff-card-front{
    display: none;
  }
  .tariff-service-item{
    padding-bottom: 0;
    text-align: center;
  }
  .tariff-start-button{
    color: #fff;
    text-transform: none;
    font-weight: normal;
  }
  .tariff-start-button:hover{
    text-decoration: none;
  }
  .tariff-services{
    padding: 20px 10px;
  }
}
.subscribe{
  background-image: url(../img/sub-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-bottom: 70px;
  &__btn-color{
    background-color: #19bd9a;
    border: solid 1px #19bd9a;
    cursor: pointer;
    border-radius: 0;
    font-family: SansLight;
    width: 100%;
  }
  &__btn-color:hover{
    background-color: #19bd9a;
    border: solid 1px #19bd9a;
    border-radius: 0;
  }
  &__bg-color{
    background-color: inherit;
    border: solid 1px #b2b3b3;
    border-radius: 0;
    font-family: SansLight;

  }
  .form-control1{
    background: none;
    color: white;
  }
}
.contact{
  @extend .testimonials;
  &__text{
    @extend .team__text;
  }
  &__text-wrap{
    text-align: center;
  }
  &__text_title{
    font-size: 20px;
    font-weight: bold;
  }
  &__text_content{
    font-size: 18px;
    padding-bottom: 0;
  }
}
.contact-form{
  padding-top: 60px;
  padding-bottom: 60px;
  &__text{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  textarea {
    overflow: hidden;
  }
  &__btn{
    background-color: #19bd9a;
    border-radius: 0;
    cursor: pointer;
    color: white;
  }
}
.map{
  background-color: #f3f3f3;
  position: relative;
  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
  }
  &__text{
    margin: auto;
  }
  &__title{
    color: #fff;
    font-size: 24px;
  }
}
.copyright{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f3f3f3;
  h1{
    font-family: BIGJOHN;
    color: #323a45;
  }
}
@media (max-width: 992px){
  .testimonials__img {
      text-align: center;
  }
  .subscribe .form-control1 {
    margin-bottom: 15px;
}
}
@media (max-width: 768px) {

  .about__bg {
      margin-top: 40px;
  }
.about__button{
    margin-left: 35%;
}
.details p {
    padding-bottom: 0px;
}
.gallery__button{
    margin-left: 40%;
}
.gallery__img-bg {
    padding-bottom: 40px;
}
.portfolio__button{
  margin-left: 0;
}
.team__img{
  text-align: center;
  margin-bottom: 20px;
}
.testimonials__img {
    text-align: center;
}
.news__slider {
    padding-top: 50%;
  }
}
@media (max-width: 578px){
  .news__slider {
      padding-left: 85%;
      padding-top: 50%;
    }
}



.slide-progress-bar {
  width: 100%;
  height: 5px;
  position: relative;
}

.progress-bar-title{
  text-align: left;
  color: #464646;
  padding-right: 20px;
  font-size: 18px;
  font-family: SansLight;
}
